.save-attendance-heading{
    text-align: center;
}

.attendance-table{
  border: 1px solid black;
  border-radius: 6px;
  -moz-border-radius:6px;
  border-collapse:separate;
}

.attendance-table-heading{
  border: 1px solid #dddddd;
  padding: 10px;
}

.attendance-table-data{
  border: 1px solid #dddddd;
  padding: 10px;
  text-align: left;
}

.save-partition{
  margin-left: 20px;
}

.row-name{
  width: 70%;
}

.btn-save{
  background: none;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  display: flex;
  text-align: center;
  cursor: pointer;
  width: 80px;
  background: crimson;
  color: white;
  transition: background 0.3s;
}

.btn-save:hover{
  background: rgb(44, 87, 136);
  color: white;
}

.date-part{
  margin-left: 20px;
}

.attendance-marker{
  margin-left: 20px;
}

.attendance-status{
  border: none;
  border-radius: 10px;
  padding-left: 10px;
}